Package: com.chmbr.volflash
Name: VolFlash
Depends: mobilesubstrate, ws.hbang.common (>= 1.11)
Version: 1.5.0
Architecture: iphoneos-arm
Description: 
Maintainer: Cemre Süler
Author: Cemre Süler
Section: Tweaks
Depiction: https://cemresuler.github.io/depictions/?p=com.chmbr.volflash