Package: com.chmbr.volflash
Name: VolFlash
Depends: mobilesubstrate, ws.hbang.common (>= 1.11)
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Cemre Süler
Author: Cemre Süler
Section: Tweaks
Depiction: https://cemresuler.github.io/depictions/?p=com.chmbr.volflash
Version: 1.3-6+debug
Installed-Size: 272
